 <header class="navbar">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4">
          <%= image_tag("logo-header.png", :class=>"logo", :width=>"25", :alt=>"530e4fc7f4a216ca3c0000e1_logo-header.png") %>
          <div class="app-name">slate</div>
        </div>
        <div class="w-col w-col-8 nav-column"><a class="nav-link" href="#">Features</a><a class="nav-link" href="#page-nav-share">Download</a>
        </div>
      </div>
    </div>
  </header>
  <div class="section hero">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <%= image_tag("iphone.png", :class=>"hero-iphone", :width=>"330px", :alt=>"52ddf177b6d2171f780000a2_iphone.png") %>
        </div>
        <div class="w-col w-col-6 call-to-action">
          <h1 class="hero-header">Show off your beautiful photos.</h1>
          <p class="hero-subtitle">An iPhone app that lets you create beautiful photo albums with your favorite photos.</p><a class="button" href="#">Download App</a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-hidden-small w-hidden-tiny section grey"></div>
  <div class="w-clearfix section" id="features">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <h2>Organize your photos</h2>
          <p>Make your photos easy to digest by placing them into little buckets of awesomeness. Tag it, name it, like it, doodle on it, protect it, stare at it, hug it. Everything that your photos need to get organized.</p>
          <div class="w-row">
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="icon-title">Album</div>
              <%= image_tag("album.png", :width=>"57", :alt=>"52af8d1ca41389d367000039_album.png") %>
            </div>
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="icon-title">Funnel</div>
              <%= image_tag("filter.png", :width=>"57px", :alt=>"52af8d22a41389d36700003a_filter.png") %>
            </div>
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="icon-title">Folders</div>
              <%= image_tag("folder.png", :width=>"57px", :alt=>"52af8d28a41389d36700003b_folder.png") %>
            </div>
          </div>
        </div>
        <div class="w-col w-col-6 center">
          <%= image_tag("first-section.jpg", :width=>"306", :alt=>"52ddf24e5d3566c1430000a4_first-section.jpg") %>
        </div>
      </div>
    </div>
  </div>
  <div class="section grey">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6 center">
          <%= image_tag("second-section.jpg", :width=>"274", :alt=>"52ddf25ab6d2171f780000ab_second-section.jpg") %>
        </div>
        <div class="w-col w-col-6">
          <h2>Show off your gallery</h2>
          <p>You don’t want boring layouts and we don’t want you to have boring layouts. It’s all about stacking things in creative ways like a boss.</p>
          <div class="w-row">
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="icon-title">Standard</div>
              <%= image_tag("basic.png", :width=>"57px", :alt=>"52af8d56aae9d4d56700005b_basic.png") %>
            </div>
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="icon-title">Stacked</div>
              <%= image_tag("stacked.png", :width=>"57px", :alt=>"52af8d5da41389d36700003f_stacked.png") %>
            </div>
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="icon-title">Tetris</div>
              <%= image_tag("tetris.png", :width=>"57px", :alt=>"52af8d65aae9d4d56700005d_tetris.png") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6 w-clearfix">
          <h2>Share with friends</h2>
          <p>Share your photos all over the internet tubes like a real magician! Post your photos in an album and watch your album be spread like a virus all over the web clouds. You’ll love this!</p>
          <div class="w-widget w-widget-twitter social-widget">
            <iframe src="https://platform.twitter.com/widgets/tweet_button.html#url=http%3A%2F%2Fwebflow.com&amp;counturl=webflow.com&amp;text=Check%20out%20this%20site&amp;count=vertical&amp;size=m&amp;dnt=true" scrolling="no" frameborder="0" allowtransparency="true"
            style="border: none; overflow: hidden; width: 55px; height: 62px;"></iframe>
          </div>
          <div class="w-widget w-widget-gplus social-widget">
            <div class="g-plusone" data-href="http://webflow.com" data-size="tall" data-annotation="bubble" data-width="120" data-recommendations="false" id="___plusone_0" style="width: 50px; height: 60px; text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; background: transparent;"></div>
          </div>
          <div class="w-widget w-widget-facebook social-widget">
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fwebflow&amp;layout=box_count&amp;locale=en_US&amp;action=like&amp;show_faces=false&amp;share=false" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 55px; height: 65px;"></iframe>
          </div>
        </div>
        <div class="w-col w-col-6 center">
          <%= image_tag("third-section.jpg", :width=>"250", :alt=>"52ddf261b6d2171f780000ad_third-section.jpg") %>
        </div>
      </div>
    </div>
  </div>
  <div class="section purple">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-8">
          <h2 class="price-text">Get it now for $1.99 on the app store!</h2>
        </div>
        <div class="w-col w-col-4">
          <a class="w-inline-block button app-button" href="http://www.apple.com" target="_blank">
            <%= image_tag("appstore.png", :width=>"114", :alt=>"52af8cf8aae9d4d567000057_appstore.png") %>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section grey footer">
    <div class="w-container">
      <p class="footer-text">Slate Template by Webflow. Images by <a href="http://www.flickr.com/photos/kara_allyson/" class="text-link">Kara Allyson</a>.</p>
      <div class="button-block">
        <a class="w-inline-block social-button" href="mailto:support@webflow.com?subject=Hello!" target="_blank">
          <%= image_tag("email-icon.png", :width=>"21px", :alt=>"52af8da2aed63fb91400000f_email-icon.png") %>
        </a>
        <a class="w-inline-block social-button" href="http://facebook.com/webflowapp" target="_blank">
          <%= image_tag("facebook-icon.png", :width=>"21px", :alt=>"52af8da8aed63fb914000010_facebook-icon.png") %>
        </a>
        <a class="w-inline-block social-button" href="http://twitter.com/webflowapp" target="_blank">
          <%= image_tag('twitter-icon.png', :width=>"21px", :alt=>"52af8db1aed63fb914000011_twitter-icon.png") %>
        </a>
      </div>
      <%= image_tag('footer-logo.png', :class=>"logo-in-footer", :width=>"25px", :alt=>"52af8db8aed63fb914000012_footer-logo.png") %>
    </div>
  </div>